<!DOCTYPE html>
<html>
<head>
<title>Alpha Blog</title>
<meta charset="UTF-8">
</head>
<body>

<h1> Welcome to my blog!</h1>
<h3>This is a dedicated space for me to learn Ruby on Rails.</h3>
<hr>
<h5>Reasons to visit this page more!</h5>
<ul>
    <li>All sorts of cool knowledge and skills</li>
    <li>I made this website</li>
    <li>Let's learn together</li>
</ul>
<hr>
<img src="https://webster.cs.washington.edu/images/pie.jpg" alt="grandma's lemon meringue pie"> 
<h5> Click <%= link_to 'here', about_path %> to learn more about me! I chose a pie photo because I love pies.</h5>
<hr>
<h5><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=pie+recipes">Here</a> is a really tiny link to various pie recipes on the internet</h5>
</body>
</html>