<!DOCTYPE html>
<html>
<head>
<title>Pies Homepage!</title>
<link href="https://webster.cs.washington.edu/images/pie-icon.gif" type="image/gif" rel="shortcut icon" />
<meta charset="UTF-8">
</head>
<body>

<%= link_to 'About', about_path %>

<h1> Welcome to the Pie homepage!</h1>
<h3>Here you can find all sorts of pie recipes, including our world famous grandma's lemon meringue pie!</h3>
<hr>
<h5>Reasons to visit this page more!</h5>
<ul>
    <li>All sorts of pie recipes</li>
    <li>I made this website</li>
    <li>Grandma would be angry if you don't visit me :(</li>
    <li>Last but not least, it's homework...</li>
</ul>
<hr>
<img src="https://webster.cs.washington.edu/images/pie.jpg" alt="grandma's lemon meringue pie"> 
<h5> Click <a href="pie.html">here</a> for grandma's lemon meringue pie recipe!</h5>
<hr>
<h3>WHAT?! YOU DON'T WANT TO VISIT MY GRANDMA'S RECIPE PAGE?! FINE!</h3>
<h5>Here's a really tiny link to various recipes on the internet...goodbye</h5>
<h6><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=pie+recipes">tiny</a></h6>
<img src="http://i.huffpost.com/gen/640682/images/s-BARACK-OBAMA-NEWS-CONFERENCE-large300.jpg" alt="Obama sad face">
</body>
</html>